.main{

}
.container {
  position: relative;
  background-color: linear-gradient(to bottom,#FF773E  0%,#FFEBCD	  100%);
  width: 420px;
  height: 700px;
  margin: 100px auto 0;
}
.message {
  position: absolute;
  display: none;
  text-align: center;
  top: 200px;
  width: 100%;
  background-color: 	#FFEFD5;
  padding: 0 0 30px;
}
.message p {
  margin: 0px;
}
.mainText {
  font-size: 60px;
  color:#FF9900 ;
  font-family: 'Roboto', sans-serif;
}
.subText {
  font-size: 32px;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

.button {
  width: 150px;
  height: 40px;
  font-size: 24px;

}

.score-container {
  width: 420px;
  margin: 10px auto 0;
}

body {
  background-color: linear-gradient(to bottom,#FF773E  0%,#FFEBCD	  100%);
}


