body {
  background: linear-gradient(to bottom, #FFC7AF 0%, #FFC7AF 50%, #FDEFF9 100%);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  .bubble {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: inset -10px -10px 30px rgba(255, 255, 255, 0.5),
                inset 10px 10px 20px rgba(255, 255, 255, 0.2);
    animation: float 10s infinite;
    opacity: 0.6;
  }
  
  /* サイズと位置をランダムに調整 */
  .bubble:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 10%;
    animation-duration: 12s;
    animation-delay: 0s;
  }
  
  .bubble:nth-child(2) {
    width: 120px;
    height: 120px;
    left: 30%;
    animation-duration: 15s;
    animation-delay: 2s;
  }
  
  .bubble:nth-child(3) {
    width: 60px;
    height: 60px;
    left: 50%;
    animation-duration: 8s;
    animation-delay: 4s;
  }
  
  .bubble:nth-child(4) {
    width: 100px;
    height: 100px;
    left: 70%;
    animation-duration: 14s;
    animation-delay: 6s;
  }
  
  .bubble:nth-child(5) {
    width: 150px;
    height: 150px;
    left: 90%;
    animation-duration: 18s;
    animation-delay: 8s;
  }
  
  @keyframes float {
    0% {
      bottom: -200px;
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      bottom: 100%;
      transform: translateX(-20px);
    }
  }
  
}

.container {
  position: relative;
  background: linear-gradient(to bottom, #FFDBC9  0%, #EEFFFF 50%,  #FFDBC9 100%);
  width: 420px;
  height: 700px;
  margin: 35px auto 0;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #edaa89; /* 柔らかいボーダー */
}

.message {
  position: absolute;
  display: none;
  text-align: center;
  top: 200px;
  width: 100%;
  background: #FFEFD5;
  padding: 0.2em 0.5em;
  border: 1px solid #edaa89;
  box-shadow: 0px 0px 0px 10px ;
  border: dashed 2px white;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.message p {
  margin: 0px;
  padding: 0;
}

.mainText {
  .mochiy-pop-p-one-regular {
    font-family: "Mochiy Pop P One", system-ui;
    font-weight: 400;
    font-style: normal;
  }  
  font-size: 58px;
  color: #FF773E;
  font-family: 'Roboto', cursive;
  text-shadow: 2px 2px 5px #FFC7AF;
}

.subText {
  font-size: 32px;
  color: #333;
  font-family: 'Roboto', cursive;
}

.button {
  width: 150px;
  height: 40px;
  font-size: 24px;
  background-color: #FF773E;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #FF905A;
  transform: scale(1.05);
}

.score-container {
  width: 420px;
  margin: 10px auto 0;
  text-align: center;
}

.score {
  font-size: 24px;
  color: #FF773E;
  font-weight: bold;
}

.bubbles {
  margin-top: 20px;
}

.bubbles::before {
  content: '🥭🥭🥭';
  font-size: 32px;
  color: #FFAD90;
}

/*ranking*/
#rankingList {
  list-style-type: none; /* 点を消す */
  padding: 0; /* パディングをゼロに */
  margin: 0; /* マージンをゼロに */
  position: absolute; /* 絶対位置指定 */
  top: 50%; /* 縦方向の中央に配置 */
  right: 10px; /* 右からの距離を設定 */
  transform: translateY(-50%); /* 垂直方向の中央揃え */
  background-color: rgba(255, 255, 255, 0.8); /* 半透明の背景 */
  border-radius: 5px; /* 角を丸く */
  padding: 10px; /* パディングを追加 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* 影を付けて浮き上がった感じに */
}

#rankingList li {
  margin: 5px 0; /* 各リスト項目の間に隙間を追加 */
  padding: 10px; /* パディングを追加 */
}

/*豆知識*/
.trivia {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 10;
  white-space: nowrap;
  overflow: hidden;
}

/* 一文字ずつフェードインするアニメーション */
@keyframes fadeIn {
  0% { opacity: 0; } /* 最初は透明 */
  100% { opacity: 1; } /* 完全に表示される */
}

.trivia span {
  opacity: 0; /* 最初は透明に */
  display: inline-block;
}


/* 観光・文化紹介*/
.left-info {
  position: absolute;
  top: 100px; /* 必要に応じて調整 */
  left: 0;
  width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* 背景を少し透明に */
  z-index: 5; /* 表示優先順位 */
  overflow: hidden; /* コンテンツが大きすぎる場合は隠す */
}

.left-info img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
