body {
  background: linear-gradient(to bottom, #FFC7AF 0%, #FFC7AF 50%, #FDEFF9 100%);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  background: linear-gradient(to bottom, #FFE4E1 0%, #FFAD90 50%, #FDEFF9 100%);
  width: 420px;
  height: 700px;
  margin: 35px auto 0;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #FFB6C1; /* 柔らかいボーダー */
}

.message {
  position: absolute;
  display: none;
  text-align: center;
  top: 200px;
  width: 100%;
  background: #FFEFD5;
  padding: 0 0 30px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.message p {
  margin: 0px;
}

.mainText {
  .mochiy-pop-p-one-regular {
    font-family: "Mochiy Pop P One", system-ui;
    font-weight: 400;
    font-style: normal;
  }  
  font-size: 58px;
  color: #FF773E;
  font-family: 'Roboto', cursive;
  text-shadow: 2px 2px 5px #FFC7AF;
}

.subText {
  font-size: 32px;
  color: #333;
  font-family: 'Roboto', cursive;
}

.button {
  width: 150px;
  height: 40px;
  font-size: 24px;
  background-color: #FF773E;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #FF905A;
  transform: scale(1.05);
}

.score-container {
  width: 420px;
  margin: 10px auto 0;
  text-align: center;
}

.score {
  font-size: 24px;
  color: #FF773E;
  font-weight: bold;
}

.bubbles {
  margin-top: 20px;
}

.bubbles::before {
  content: '🥭🥭🥭';
  font-size: 32px;
  color: #FFAD90;
}

/*ranking*/
#rankingList {
  list-style-type: none; /* 点を消す */
  padding: 0; /* パディングをゼロに */
  margin: 0; /* マージンをゼロに */
  position: absolute; /* 絶対位置指定 */
  top: 50%; /* 縦方向の中央に配置 */
  right: 10px; /* 右からの距離を設定 */
  transform: translateY(-50%); /* 垂直方向の中央揃え */
  background-color: rgba(255, 255, 255, 0.8); /* 半透明の背景 */
  border-radius: 5px; /* 角を丸く */
  padding: 10px; /* パディングを追加 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* 影を付けて浮き上がった感じに */
}

#rankingList li {
  margin: 5px 0; /* 各リスト項目の間に隙間を追加 */
  padding: 10px; /* パディングを追加 */
}

